<div class="container text-center">
    <button routerLink="/Teacher" routerLinkActive="btn-primary" type="button" class="btn btn-outline-primary">Teachers</button>
    <button routerLink="/Student" routerLinkActive="btn-primary" type="button" class="btn btn-outline-primary">Students</button>
    <button routerLink="/Courses" routerLinkActive="btn-primary" type="button" class="btn btn-outline-primary">Courses</button>
    <button routerLink="/Subjects" routerLinkActive="btn-primary" type="button" class="btn btn-outline-primary">Subjects</button>
    <button routerLink="/Grades"  routerLinkActive="btn-primary" type="button" class="btn btn-outline-primary">Grades</button>
</div>





<router-outlet></router-outlet>