<div class="container" style="margin-top: 70px;">
    <div>
        <form class="text-center border border-light p-5">

            <p class="h4 mb-4">Add / Edit Teacher</p>

            <!-- Email -->
            <input type="text" name="name" [(ngModel)]="teacher.name" class="form-control mb-4" placeholder="Name">

            <!-- Password -->
            <input ype="text" name="birthDate" [(ngModel)]="teacher.birthDate" class="form-control mb-4"
                placeholder="birthday">



            <!-- Sign in button -->
            <button mdbBtn color="info" (click)="saveNew()" block="true" class="my-4">
                <ng-template [ngIf]="updateMode">
                    Update
                </ng-template>
                <ng-template [ngIf]="!updateMode">
                    Add
                </ng-template>
            </button>


        </form>
    </div>
    <div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Birthday</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of teachers; index as i;">
                    <th>{{i+1}}</th>
                    <td>{{item.name}}</td>
                    <td>{{item.birthDate}}</td>
                    <td><button (click)="enableUpdate(item)">Update</button></td>
                        <td><button (click)="delete(item)">Delete</button></td>

                </tr>
            </tbody>
        </table>
    </div>

</div>